{% extends "base.html" %}

{% block title %}
Carta
{% endblock %}

{% block content%}
<h1> Nuestra carta</h1>
<div class="row flex-row g-3">
<div class="col-12 col-md-6 col-lg-4">
<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOszuOV-qOfpe7IQO3si8YYjE7i-qnlcXi3g&s" 
    class="card-img-top" 
    alt="...">
    <div class="card-body">
      <h5 class="card-title">Panserotii</h5>
      <p class="card-text">un panserotii con queso y salchicha racien salido del horno</p>
      
    </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOszuOV-qOfpe7IQO3si8YYjE7i-qnlcXi3g&s" 
    class="card-img-top" 
    alt="...">
    <div class="card-body">
      <h5 class="card-title">Panserotii</h5>
      <p class="card-text">un panserotii con queso y salchicha racien salido del horno</p>
      
    </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOszuOV-qOfpe7IQO3si8YYjE7i-qnlcXi3g&s" 
      class="card-img-top" 
      alt="...">
      <div class="card-body">
        <h5 class="card-title">Panserotii</h5>
        <p class="card-text">un panserotii con queso y salchicha racien salido del horno</p>
        
      </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOszuOV-qOfpe7IQO3si8YYjE7i-qnlcXi3g&s" 
          class="card-img-top" 
          alt="...">
          <div class="card-body">
            <h5 class="card-title">Panserotii</h5>
            <p class="card-text">un panserotii con queso y salchicha racien salido del horno</p>
            
          </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOszuOV-qOfpe7IQO3si8YYjE7i-qnlcXi3g&s" 
              class="card-img-top" 
              alt="...">
              <div class="card-body">
                <h5 class="card-title">Panserotii</h5>
                <p class="card-text">un panserotii con queso y salchicha racien salido del horno</p>
                
              </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOszuOV-qOfpe7IQO3si8YYjE7i-qnlcXi3g&s" 
                  class="card-img-top" 
                  alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Panserotii</h5>
                    <p class="card-text">un panserotii con queso y salchicha racien salido del horno</p>
                    
                  </div>
                  </div>
                </div>
</div>
{% endblock %}